@{
    var auction = ViewData["auction"] as ItemModel;
}

<div class="m-5">
  <form class="text-dark bg-light p-3 card" action="/auction/@auction.Id/delete/confirmed" method="post">
    <div class="container d-flex flex-column justify-content-center align-items-center">
      <h1>Delete Auction</h1>
      <p>Are you sure you want to delete auction: @auction.Title</p>

      <div class="clearfix">
        <a href="/auction/user" class="btn btn-primary">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </form>
</div>