@model Models.Entities.PlotModel;
@{
    ViewData["Title"] = "Home Page";
    var message = ViewData["Message"] as string;
    var plots = ViewData["plots"] as List<PlotModel>;
}
<script>
let map;
let plots;

window.onload = async function() {
    initialize();
}

function goToPopUp(longitude, latitude) {
    map.setView([longitude, latitude], 18);
}

async function initialize() {
    map = new L.map('map').setView([50.041187, 21.999121], 18);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);
}

async function getPlots(searchText){
    if(!searchText){
        searchText = "";
    }
    console.log(searchText);
    plots = await fetch(`/plots?searchText=${searchText}`).then(response => response.json()).then(data => { 
        let areaSum = 0;
        const plotTable = document.querySelector(".userPlots");
        plotTable.innerHTML = "";

        data.forEach(function(plot, idx) {
            // Create marker
            var marker = new L.marker([plot.longitude, plot.latitude])
            .bindPopup(`${plot.city} ${plot.plotNumber} ${plot.area}ha`).addTo(map);

            const plotArea = parseFloat(plot.area);
            if(plotArea !== NaN){
                  areaSum += plotArea;
            };

            // Create table row with plot
            const plotRow = document.createElement("tr");
            plotRow.classList.add("plotListItemStyle");
            plotRow.addEventListener("click", (() => goToPopUp(plot.longitude, plot.latitude)));
            plotRow.innerHTML = `
              <th class="align-middle" scope="row">${idx + 1}</th>
              <td class="align-middle">${plot.city}</td>
              <td class="align-middle">${plot.plotNumber}</td>
              <td class="align-middle">${plot.area}</td>
              <td class="align-middle">${plot.tillage}</td>
              <td class="align-middle">
                <form class="d-flex" method="post" action="/plot/${plot.id}">
                    <a class="btn btn-sm btn-primary mx-1" href="/plot/edit/${plot.id}"><b>Edit</b></a>
                    <button type="submit" class="btn btn-sm btn-danger"><b>Delete</b></button>
                </form>
              </td>
            `;
            plotTable.appendChild(plotRow);


            goToPopUp(plot.longitude, plot.latitude);
        })

        // Create summary table row
        areaSum = areaSum.toFixed(3);
        const summaryRow = document.createElement("tr");
            summaryRow.innerHTML = `
              <th scope="row" colspan="2">Summary: </th>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-right">${areaSum} ha</td>
            `;
            plotTable.appendChild(summaryRow);

    })
    .catch(error => console.error("Unable to get items.", error));
}
function showForm() {
    document.querySelector(".plotForm").classList.toggle("hidden");
}

</script>


<section class="d-flex justify-content-center align-items-md-start m-2 gap-5">
    @if(message is not null){
        <div>@message</div>
    }
    @if (User?.Identity?.IsAuthenticated??false)
 {

     <div style="">

	<nav class="flex-column plotForm hidden">
		<div class="nav-item">
			<div >

				<form class="" method="post" action="/plot">

				<div class="form-group">
					<label for="city" class="text-black">Miejscowość</label>
					<input type="text" class="form-control" id="city" placeholder="Kraczkowa" name="City">
				</div>
				<div class="form-group">
					<label for="plotNumber" class="text-black">Numer działki</label>
					<input type="text" class="form-control" id="plotNumber" placeholder="3374/16" name="PlotNumber">
				</div>
				<div class="form-group">
					<label for="area" class="text-black">Powierzchnia (ha)</label>
					<input type="text" class="form-control" id="area" placeholder="0.55" name="Area">
				</div>
                <div class="form-group">
					<label for="area" class="text-black">Uprawa</label>
					<input type="text" class="form-control" id="tillage" placeholder="Pszenica" name="tillage">
				</div>
				<button type="submit" class="btn btn-primary my-2 align-self-center w-100" >Dodaj działkę</button>
				</form>
			</div>
		</div>
	</nav>
    <form class="form-inline d-flex">
    <input id="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button type="submit" id="searchButton" class="btn btn-outline-success my-2 my-sm-0">Search</button>
  </form>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Miejscowość</th>
      <th scope="col">Numer</th>
      <th scope="col">Powierzchnia</th>
      <th scope="col">Uprawa</th>
      <th scope="col">
                <a class="btn btn-secondary showFormButton px-1 py-0" onclick="showForm">Dodaj działkę</a>
      </th>
    </tr>
  </thead>
  <tbody class="userPlots">
  </tbody>
</table>
</div>
}
<div class="text-center">
    <div id="map"></div>
</div>
 @if (User?.Identity?.IsAuthenticated == false)
 {
     <h1>Aby rozpocząć zarządzanie swoimi działkami <a href="/login">zaloguj</a> lub <a href="/register">zarejestruj</a> się!</h1>
 }
 </section>

 @if (User?.Identity?.IsAuthenticated == true)
 {
     <script type="text/javascript">
        setTimeout(() => { getPlots(); }, 1000);
        document.querySelector(".showFormButton").addEventListener("click", showForm);
     </script>
 }

 

<style>
    #map{
        width: 800px;
        height: 800px;
    }
    .hidden{
        display:none;
    }
    td, th{
        text-align: center;
        cursor: pointer;
    }

</style>

    <script>
document.querySelector("#searchButton").addEventListener("click", (() => getPlots(document.getElementById("searchText").value)));

    </script>