<ul>
    <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Role">Roles</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auction" asp-action="Categories">Auction Categories</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Users">Manage Users</a>
                            </li>
</ul>