@model Models.Dtos.RoleDto;

<section class="w-50">
	<div class="container py-5 h-100">
		<div class="row d-flex align-items-center justify-content-center h-100">
			<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
				<h1 class="text-light">Create Role</h1>

				<form method="post" action="/role">
					<div class="text-danger" asp-validation-summary="ModelOnly"></div>
					<div class="form-outline mb-4">
						<input type="text" id="RoleName" class="form-control form-control-lg" name="RoleName" />
						<label class="form-label text-light" asp-for="RoleName">Role name</label>
						<span class="text-danger" asp-validation-for="RoleName"></span>
					</div>

					<button type="submit" class="btn btn-primary btn-lg btn-block w-100">Stwórz rolę</button>

				</form>
			</div>
		</div>
	</div>
</section>