@model Models.Dtos.RoleDto;

@{
	var roles = ViewData["roles"] as List<RoleModel>;
}

<section class="w-50">
	<div class="container py-5 h-100">
		<div class="row d-flex align-items-center justify-content-center h-100">
			<div class="col-md-8 col-lg-8 col-xl-8 offset-xl-1">
				<h1 class="text-light">Roles: </h1>

				<table class="table table-light ">
				  <thead>
					<tr>
					  <th scope="col">#</th>
					  <th scope="col">Role Name</th>
					  <th scope="col"></th>
					</tr>
				  </thead>
				  <tbody>
						@for (var i = 0; i < roles.Count; i++)
						{
						<tr>
							<th scope="row">@i</th>
							<td>@roles[i].Name</td>
							<td class="align-middle">
								<form class="d-flex justify-content-center" method="post" action="/admin/role/@roles[i].Id">
									<button type="submit" class="btn btn-sm btn-danger">Delete</button>
								</form>
							  </td>
						</tr>
						}
				  </tbody>
				</table>
				<h3 class="text-light">Create Role</h3>

				<form method="post" action="/admin/role">
					<div class="text-danger" asp-validation-summary="ModelOnly"></div>
					<div class="form-outline mb-4">
						<input type="text" id="RoleName" class="form-control form-control-lg" name="RoleName" />
						<label class="form-label text-light" asp-for="RoleName">Role name</label>
						<span class="text-danger" asp-validation-for="RoleName"></span>
					</div>

					<button type="submit" class="btn btn-primary btn-lg btn-block w-100">Stwórz rolę</button>

				</form>
			</div>
		</div>
	</div>
</section>